<!doctype html>
<html>
<style>
    body { text-align :center
    }
</style>
<body>
    <h2 style="font-family:Cambria"  style="color:blueviolet;"> O autoru </h2>
    <br/>
    <h3 style="font-family:Cambria" style="color:violet ;"> Autor aplikacije: Lenka Subotin IT23/2018 </h3>
    <br />
    <h4 style="font-family:Cambria"> Aplikacija urađena kao spoj backend-a i frontend-a za potrebe predmeta
        Razvoj višeslojnih aplikacija </h4>
    <br />
    <br />
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRZmcZMWuBdhVrtgarCMnm0l4GGrTrQsY8B-w&usqp=CAU">
</body>
</html>
